.parent {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    //     display: grid;
    //     place-items: center;

}

.main {
    background: url("./background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 98vh;
    z-index: 100;
    display: flex;
   

    @media (max-width:768px) {
        width: 100%;

    }

    .main_left {
        flex: .35;
        height: 100%;
        background-color: rgba(20, 19, 19, 0.534);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        color: rgb(15, 1, 39);
        text-rendering: optimizeLegibility;
    }

    .main_right {
        flex: .35;
        height: 100%;

        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: space-evenly;
        color: rgb(15, 1, 39);
        text-rendering: optimizeLegibility;
      
    }
}

.left_side {
    text-align: left;
    line-height: 0;
    align-self: baseline;
}