.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;

  background: rgb(208, 205, 205);
  background: -moz-linear-gradient(
    85deg,
    rgba(208, 205, 205, 1) 12%,
    rgba(20, 91, 159, 0.8491771708683473) 100%
  );
  background: -webkit-linear-gradient(
    85deg,
    rgba(208, 205, 205, 1) 12%,
    rgba(20, 91, 159, 0.8491771708683473) 100%
  );
  background: linear-gradient(
    85deg,
    rgba(208, 205, 205, 1) 12%,
    rgba(20, 91, 159, 0.8491771708683473) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0cdcd",endColorstr="#145b9f",GradientType=1);
}
a{
  text-decoration: none;
  color: rgb(90, 8, 243);
  font-size: medium;
  font-weight: bold;
}